<h1> <%= @recipe_info["name"] %> </h1>
<h2> Description </h2>
<p><%= @recipe_info["description"] %></p>

<h2> Instructions </h2>
<p><%= @recipe_info["instructions"]%></p>

<h2> Ingredients </h2>
<ul>
  <% @ingredients_list.each do |ingredient|%>
    <li><%= ingredient["name"]%></li>
  <% end %>
</ul>
